{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if edit %}
        Edit: {{ entryTitle }}
    {% else %}
        New Entry
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Edit: {{ entryTitle }}</h1>
    {% else %}
        <h1>Create a new entry</h1>
    {% endif %}
    
    {% if existing %}
    <div class="alert alert-danger" role="alert">
        This entry already exists. If you want to view or edit it, <a href="/wiki/{{ entry }}" class="alert-link">click here</a>.
    </div>
    {% endif %}
    <br>
    <div class="form-group">
        <form action="{% url 'newEntry' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type = submit>
        </form>
    </div>        
{% endblock %}